# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Django
backend/media/
backend/staticfiles/
backend/.env
.env

# React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Logs
*.log
pip_error.txt

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archives
*.zip
*.rar
*.7z
